$content-width: 800px;
$main: #ffe8f6;
$font-style: 'Open Sans', sans-serif;
$font-color: #ffe8f6;
$link-color: #ebb463;
$link-hover-color: #d85124;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #ffe8f6;
$light: #E7EDF4;
$header:  #d82424;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}